.tag {
    font-size: 0.5em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
  font-weight: bolder;
  cursor: pointer;
}

.tag:hover {
  border: 1px soild black;
}

@media(max-width:786px) {
  .card {
    margin: auto;
  }
}